<script>
  var FILTERS = <%= raw compile_filters(report.filters).to_json %>;
  var FILTER_PARAMS = <%= raw scope_keys(filter_params).to_json %>;
  var VALIDATIONS = <%= raw compile_validations(report.validations).to_json %>
</script>

<%= form_tag report_path(name: report.class.name), id: 'filter-form', method: :get, class: 'form-inline' do %>
  <% report.filters.each do |filter| %>
    <div class='form-group'>
      <%= label_tag filter.name, nil, class: 'control-label'  %>
      <%= render partial: 'filter', locals: { filter: filter, report: report } %>
    </div>
  <% end %>
  <div class='form-group'>
    <%= submit_tag 'Filter', class: 'btn btn-success' %>
  </div>
<% end %>
