<script>
  var FILTERS = <%= raw compile_filters(report.filters).to_json %>;
  var FILTER_PARAMS = <%= raw scope_keys(filter_params).to_json %>;
  var VALIDATIONS = <%= raw compile_validations(report.validations).to_json %>
</script>

<%= form_tag report_path(name: report.class.name), id: 'filter-form', method: :get, class: 'form-inline' do %>
  <%= hidden_field_tag :format, :html %>

  <% report.filters.each do |filter| %>
    <div class='<%= class_for_filter_wrapper(filter) %>'>
      <%= label_tag filter.name, nil, class: 'control-label'  %>
      <%= render partial: 'filter', locals: { filter: filter, report: report } %>
    </div>
  <% end %>
  <div>
    <div class='form-group pull-right'>
      <%= submit_tag 'Filter', class: 'btn btn-success' %>
      <%= link_to '#', class: 'btn btn-default download' do %>
        <i class='glyphicon glyphicon-download-alt'></i>
        Download
      <% end %>
    </div>
    <div class='clearfix'></div>
  </div>
<% end %>
