<table class='table table-hover'>
  <thead>
    <% if report.complex_columns? %>
      <!--
        Columns live in odd(2n+1) levels of the Complex Column Structure(CCS), so the number of rows the thead
        has is half the depth of the CCS (depth/2)
      -->
      <% (report.columns.depth / 2).times do |n| %>
        <tr>
          <!--
            Given that the columns live in odd levels, we get all the childen(columns) on each odd level
            to compose the row
          -->
          <% report.columns.nth_level_children(2*n+1).each do |col, options| %>
            <th colspan='<%= options.fetch(:colspan, 1) %>' rowspan='<%= options.fetch(:rowspan, 1) %>'>
              <%= col %>
            </th>
          <% end %>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <% report.columns.each do |col| %>
          <th><%= col %></th>
        <% end %>
      </tr>
    <% end %>
  </thead>
  <tbody>
    <% report.rows.each do |row| %>
      <tr>
        <% row.each do |cell| %>
          <td><%= cell %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
